/*---- SECTION -----*/


/* SECCION HISTORIA */

section{
    width: 100%;
}

section div h1{
    background-color: black;
    border-top: 10px solid rgb(203, 147, 57);
    padding: 20px 0px;
}

section .titulo-seccion{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-left: -20px;
}

section .historia{
    padding: 100px 100px;
    font-size: 17px;
    text-align: justify;
}

section .texto{
    /* border: 6px solid rgb(109, 82, 82); */
    padding: 30px;
    background-color: rgb(245, 194, 127);
}

section .historia h1{
    margin-bottom: 20px;
    font-family: 'Playball', cursive;
}

section h2{
    text-align: right;
    padding-top: 50px;

}


/* SECCION IMAGENES */

section .imagenes{
    margin: 150px auto;
    width: 1000px;
    background-color: black;
    overflow: hidden;
}

section .carrusel{
    display: flex;
    width: 1000%;
    transition: all 3s ease;
}

section .imagenes img{
    height: 500px;
    width: 1000px;
}

section .imagenes .botones{
    height: 80px;
    width: 1000px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    
}

.boton1, .boton2, .boton3, .boton4, .boton5, .boton6, .boton7, .boton8, .boton9, .boton10{
    background-color: darkgoldenrod;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    margin: auto 0px;
    cursor: pointer;
}



/* SECCION MENU */

section .menu{
    width: 100%;
    padding: 200px 0;
}

.row{
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row .categoria{
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    padding: 25px 0px;
    font-family: 'Playball', cursive;
}

.column-p{
    padding: 30px 30px 30px 30px;
}

.column-p img{
    height: 300px;
    width: 400px;
    transition: all 1s ease;
    cursor: pointer;
}

.comidas{
    font-size: 20px;
    text-align: center;
}

.column-p img:hover{
    scale: 1.2;
    transition: all 1s ease;
}

section .etc{
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    font-family: 'Playball', cursive;
    cursor: pointer;
}


/* SECCION MAPA */

section .mapa{
    display: flex;
    justify-content: center;
    padding: 200px 0;
}

section .info-mapa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 5px solid black;
    background-color: antiquewhite;
}

section .info-mapa li{
    padding: 20px 20px;
}


/* SECCION FORMULARIO */

section .section-consultas{
    display: flex;
    justify-content: center;
    padding: 200px 0;
}

section .tittle-form{
    display: block;
}

section form{
    margin: 30px 0;
}

fieldset{
    padding: 20px;
    border: 6px solid rgb(224, 202, 174) ;
    color: rgb(221, 160, 119);
}

section input{
    display: block;
    height: 30px;
    width: 600px;
    background-color: rgb(243, 226, 170);
    padding: 0 20px;
    margin: 20px 0;
    outline: none;
    border: none;
    color: gray;
}

select{
    height: 30px;
    width: 300px;
    background-color: rgb(243, 226, 170);
    outline: none;
    padding: 0 15px;
    border: none;
    color: gray;
}

textarea{
    background-color: rgb(243, 226, 170); 
    padding: 10px 20px; 
    width: 600px;
    height: 200px;
    resize: none; 
    outline: none;
    border: 1px rgb(158, 152, 152) solid;
    border: none;
}

section .btn-enviar{
    width: 100px; 
    cursor: pointer; 
    margin: 20px auto 0 auto;
}

section .btn-enviar:hover{
    background-color: rgb(235, 195, 51);
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: rgb(202, 39, 88);
    padding-top: 20px;
    font-size: 20px;
}


@media screen and (max-width: 1024px){
    section .historia{
        padding: 0px;
    }

    section .texto{
        font-size: 15px;
        padding: 10px;
        border: none;
        color: black;
        font-weight: 800;
        background-color: darkgoldenrod;
    }

    .imagenes fieldset{
        padding: 0;
    }

    .imagenes fieldset img{
        width: 250px;
        height: 250px;
    }

    section .mapa{
        flex-direction: column-reverse;
        color: black;
        justify-content: center;
    }

    .info-mapa{
        margin: 0 auto;
    }

    .img-mapa{
        margin: 0 auto;
    }

    section .section-consultas{
        display: block;
        margin: auto;
        align-items: center;
        width: 320px;
    }

    section .container-form input{
        width: 300px;
    }

    section .container-form textarea{
        width: 300px;
    }

    section form{
        margin: 0;
        padding: 0;
        width: 100px;
    }

    /* CARRUSEL */
    section .imagenes{
        margin: 150px auto;
        width: 800px;
    }
    
    section .imagenes img{
        height: 400px;
        width: 800px;
    }
    
    section .imagenes .botones{
        height: 80px;
        width: 800px;
        
    }

}


@media screen and (max-width: 425px){

    section .texto{
        font-size: 10px;
        padding: 10px;
        border: none;
        color: black;
    }

    section .imagenes{
        margin: 150px auto;
        width: 340px;
    }
    
    section .imagenes img{
        height: 200px;
        width: 340px;
    }
    
    section .imagenes .botones{
        height: 40px;
        width: 340px;
    }
    
    .boton1, .boton2, .boton3, .boton4, .boton5, .boton6, .boton7, .boton8, .boton9, .boton10{
        height: 5px;
        width: 5px;
    }
}